.tableHead {
  width: 1545.3px;
  height: 74px;
  background: rgba(68, 14, 102, 0.1);
  border-radius: 6px 6px 0px 0px;
  // color: #616161;
  border-radius: 6px 6px 0px 0px;
}

.tableHeadContent {
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  color: rgba(39, 30, 74, 0.9);
  opacity: 0.9;
}

.tableContent {
  width: 186px;
  height: 17px;
  left: 30px;
  top: 13px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  // color: #271e4a;
  // opacity: 0.9;
}
